@model EmployerDashboardVM
@{
    Layout = "_EmployerLayout";
}

<div class="container">
    <div class="header">
        <div class="content">
            <h1>Hi, @Model.EmployerName!</h1>
            <p>You are in the right place to find your next hire. Get started by creating your first job ad.</p>
            <a asp-controller="Job" asp-action="Draft" class="post-btn">Post a Job</a>
        </div>

        <div class="image">
            <img src="/images/background.jpg" alt="Alternate Text" />
        </div>
    </div>
</div>

<hr />

<div class="container">
    <div class="main">
        <div class="top">
            <h2>My recent job ads</h2>
        </div>
        <div class="card-container">
            <div class="card post">
                <h4>Total Post</h4>
                <p>@Model.TotalJobs</p>
            </div>
            <div class="card candidate">
                <h4>Total Candidate</h4>
                <p>@Model.TotalApplications</p>
            </div>
            <div class="card hired">
                <h4>Total Hired</h4>
                <p>@Model.TotalHires</p>
            </div>
        </div>
        <div class="job-list">
            <h2>@Model.TotalJobs Positions in total</h2>

            <table>
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Job</th>
                        <th>Candidates</th>
                        <th>Hired</th>
                        <th style="width:25%; text-align:right; padding-right: 50px">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Jobs != null && Model.Jobs.Any())
                    {
                        foreach (var job in Model.Jobs)
                        {
                            <tr>
                                <td>
                                    <span class="status-card @job.Status.ToString().ToLower()">
                                        @job.Status
                                    </span>
                                </td>
                                <td>
                                    <div>
                                        <span class="underline-strong">@job.Title</span><br />
                                        <small>@job.Location</small>
                                    </div>
                                </td>
                                <td>@job.CandidatesCount</td>
                                <td>@(job.HiredCount > 0 ? job.HiredCount.ToString() : "-")</td>
                                <td style="text-align:right; margin-right: 20px; padding-right: 50px">
                                    @if (job.Status == JobStatus.Approved)
                                    {
                                        <!-- Withdraw -->
                                        <button data-id="@job.Id" class="action-btn border withdraw-btn">Withdraw</button>
                                    }
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" class="no-data">暂无职位</td>
                        </tr>
                    }
                </tbody>
            </table>

            <h2>My Drafts</h2>
            <table style="margin-bottom: 50px">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th style="width:25%; text-align:right; padding-right: 50px">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var draft in Model.Drafts)
                    {
                        <tr>
                            <td>@(draft.Title ?? "Unknown")</td>
                            <td style="text-align:right; padding-right:50px; display:flex; justify-content:flex-end; gap:20px;">
                                <!-- Delete Draft -->
                                <button data-id="@draft.Id" class="action-btn delete delete-draft-btn"
                                        @(draft.JobId != null ? "disabled" : null)>
                                    Delete
                                </button>
                                <a asp-controller="Job" asp-action="Draft" asp-route-id="@draft.Id" class="action-btn border">Continue Draft</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/employer.css" />
}

@section Scripts {
    <script src="~/js/employer.js"></script>
}