@* //---Put in first--- *@

@* @model IEnumerable<Job>

@if (!Model.Any())
{
    <p>No jobs found.</p>
}
else
{
    <ul class="job-list">
        @foreach (var job in Model)
        {
            <li class="job-item">
                <h3>@job.Title</h3>
                <p>@job.CompanyName</p>
                <p>@job.Location</p>
            </li>
        }
    </ul>
} *@


@model List<string>

<div class="job-list">
    <h3>Jobs at @ViewBag.Company</h3>
    <ul>
        @foreach (var job in Model)
        {
            <li>@job</li>
        }
    </ul>
</div>
