@model Demo.Models.Job

<div class="job-detail-box">
    <h2>@Model.Title</h2>
    <p><strong>地点：</strong> @Model.Location</p>
    <p><strong>薪资：</strong> @Model.SalaryMin - @Model.SalaryMax</p>
    <p><strong>类型：</strong> @Model.WorkType</p>
    <p><strong>描述：</strong></p>
    <p>@Model.Description</p>
</div>
