@model Job

@{
    ViewBag.Title = "Detail";
}

<table>
    <div style="display: flex; align-items: flex-start; gap: 20px;">
        <!-- 左边 Logo -->
        <div>
            <img src="~/@Model.LogoImageUrl"
                 alt="Logo"
                 style="max-width:150px; height:auto;" />
        </div>

        <!-- 右边 详情 -->
        <div>
            <h2>Detail</h2>
            <p><strong>ID:</strong> @Model.Id</p>
            <p><strong>Title:</strong> @Model.Title</p>
            <p><strong>Company Name:</strong> @Model.CompanyName</p>
            <p><strong>Location:</strong> @Model.Location</p>
            <p><strong>Work Type:</strong> @Model.WorkType</p>
            <p><strong>Pay Type:</strong> @Model.PayType</p>
            <p>
                <strong>Salary:</strong>
                @String.Format("RM {0:N0} to RM {1:N0}", Model.SalaryMin, Model.SalaryMax)
            </p>
            <p><strong>Create Time:</strong> @Model.CreatedAt.ToString("dd/MM/yyyy HH:mm")</p>
            <p><strong>Latest Update:</strong> @Model.UpdatedAt.ToString("dd/MM/yyyy HH:mm")</p>
            <p><strong>Summary:</strong> @Model.Summary</p>
            <p><strong>Description:</strong> @Model.Description</p>
            <p><strong>Status:</strong> @Model.Status</p>


            <form asp-action="Delete" asp-controller="DemoJob" method="post" style="margin-top:20px;">
                <input type="hidden" name="Id" value="@Model.Id" />
                <input type="hidden" name="file" value="@Model.LogoImageUrl" />
                <button type="submit" class="btn btn-danger">Delete</button>
                <a asp-action="Index" >Back</a>
            </form>
        </div>
    </div>
</table>



