@model List<Demo.Models.ApplicationListVM>
@{
    Layout = "_Layout";
}
<div class="container">
    <div class="main">
        <div class="employer-list">
            <h1>My Job Applications</h1>

            <table>
                <thead>
                    <tr>
                        <th>Job Title</th>
                        <th>Company Name</th>
                        <th>Applied At</th>
                        <th>Status</th>
                        <th>Hired Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        @foreach (var app in Model)
                        {
                            <tr>
                                <td>@app.JobTitle</td>
                                <td>@app.CompanyName</td>
                                <td>@app.CreatedAt.ToString("yyyy-MM-dd")</td>
                                <td>@app.Status</td>
                                <td>@(app.HiredDate.HasValue? app.HiredDate.Value.ToString("yyyy-MM-dd") : "-")</td>
                                <td>
                                    <a asp-controller="JobApply" asp-action="Detail"
                                       asp-route-applicationId="@app.ApplicationId" class="action-btn border">View Detail</a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" class="no-data">No Application Yet.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="/css/employer.css" asp-append-version="true" />
}