@model Demo.Models.User

@if (Model != null)
{
<h2>@Model.FirstName @Model.LastName</h2>
<div class="profile-info">
    <div><i class="fas fa-map-marker-alt"></i> @Model.Location</div>
        <div><i class="fas fa-envelope"></i> @Model.Email</div>
    <div><i class="fas fa-phone"></i> @Model.PhoneNumber</div>
</div>

    <button id="edit-btn" class="edit-btn" data-user-id="@Model.Id">Edit</button>
}
else
{
    <h2>No profile data.</h2>
}
