@model User
@{
    ViewBag.Title = "Profile";
}

<div id="profile-container" class="profile-container" data-user-id="@Model.Id">
    <div class="tab-buttons">
        <a asp-controller="Profile"
           asp-action="Profile"
           asp-route-userId="@Model.Id"
           data-ajax="true"
           data-ajax-method="GET"
           data-ajax-mode="replace"
           data-ajax-update="#tab-content"
           class="tab-button active">
            Profile
        </a>
        <a asp-controller="Profile"
           asp-action="Summary"
           asp-route-userId="@Model.Id"
           data-ajax="true"
           data-ajax-method="GET"
           data-ajax-mode="replace"
           data-ajax-update="#tab-content"
           class="tab-button">
            Summary
        </a>
        <a asp-controller="Profile"
           asp-action="CareerHistory"
           asp-route-userId="@Model.Id"
           data-ajax="true"
           data-ajax-method="GET"
           data-ajax-mode="replace"
           data-ajax-update="#tab-content"
           class="tab-button">
            Career History
        </a>
        <a asp-controller="Profile"
           asp-action="Education"
           asp-route-userId="@Model.Id"
           data-ajax="true"
           data-ajax-method="GET"
           data-ajax-mode="replace"
           data-ajax-update="#tab-content"
           class="tab-button">
            Education
        </a>
    </div>

    <div id="tab-content" class="profile-card">
        <partial name="_Profile" model=@Model />
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/Profile.css" />
}

@section Scripts {
    <script src="~/js/profile.js"></script>
}
